---
import { useTranslations, getLangFromUrl } from "../../utils/i18n";
import Section from "../Section.astro";
import "../../styles/education.css";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { education } = Astro.props;

interface Education {
  institution: string;
  startDate: string;
  endDate: string | null;
  studyType: string;
  score: string;
  area?: string;
  url?: string;
}
---

<Section title={t("nav.education")}>
  <div class="Education">
    <ul class="flex flex-col gap-8">
      {
        education.map(
          ({
            institution,
            startDate,
            endDate,
            studyType,
            score,
          }: Education) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate !== null
                ? new Date(endDate).getFullYear()
                : t("misc.present");
            const years = `${startYear} - ${endYear}`;

            return (
              <li>
                <article>
                  <header class="flex justify-between items-start mb-1">
                    <div>
                      <h3 class="font-medium">{institution}</h3>
                      <h4 class="font-normal">{studyType}</h4>
                    </div>

                    <time class="text-sm">{years}</time>
                  </header>

                  <footer>
                    <p>
                      {t("misc.grades")}:{" "}
                      <span class="text-lime-500">{score}</span>
                    </p>
                  </footer>
                </article>
              </li>
            );
          },
        )
      }
    </ul>
  </div>
</Section>
