---
import { education } from "../../../cv.json";
import Section from "../Section.astro";
import "../../styles/education.css";
---

<Section title="Education">
  <div class="education">
    <ul>
      {
        education.map(
          ({ institution, startDate, endDate, studyType, score }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate !== null ? new Date(endDate).getFullYear() : "Present";
            const years = `${startYear} - ${endYear}`;

            return (
              <li>
                <article>
                  <header>
                    <div>
                      <h3>{institution}</h3>
                      <h4>{studyType}</h4>
                    </div>

                    <time>{years}</time>
                  </header>

                  <footer>
                    <p>
                      Grades: <span>{score}</span>
                    </p>
                  </footer>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
  </div>
</Section>
