---
import { education } from "../../../cv.json";
import Section from "../Section.astro";
import "../../styles/education.css";
---

<Section title="Education">
  <div class="education">
    <ul class="education-list flex flex-col gap-8">
      {
        education.map(
          ({ institution, startDate, endDate, studyType, score }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate !== null ? new Date(endDate).getFullYear() : "Present";
            const years = `${startYear} - ${endYear}`;

            return (
              <li>
                <article>
                  <header class="education-header flex justify-between items-start mb-1">
                    <div>
                      <h3 class="education-institution font-medium">
                        {institution}
                      </h3>
                      <h4 class="education-type font-normal">{studyType}</h4>
                    </div>

                    <time class="education-time text-sm">{years}</time>
                  </header>

                  <footer>
                    <p>
                      Grades:{" "}
                      <span class="education-score text-lime-500">{score}</span>
                    </p>
                  </footer>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
  </div>
</Section>
