---
import { useTranslations, getLangFromUrl } from "../../../src/utils/i18n";
import Section from "../Section.astro";
import Mail from "../../icons/Mail.astro";
import Phone from "../../icons/Phone.astro";
import GitHub from "../../icons/GitHub.astro";
import X from "../../icons/X.astro";
import WorldMap from "../../icons/WorldMap.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import "../../styles/hero.css";

const { basics } = Astro.props;
const { name, label, image, location, profiles, phone, email } = basics;

const { city, region } = location;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};

const linkedInfo = profiles.find(({ network }: any) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;
const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="Hero flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-2 pr-8">
      <h1 class="text-3xl">{name}</h1>
      <h2 class="text-lg font-medium text-balance">{label}</h2>
      <span class="flex items-center gap-1 text-sm tracking-tight">
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="hidden print:block text-xs mt-2">
        {printInfo}
      </footer>
      <footer class="flex gap-1 mt-2 text-xs print:hidden">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={t("misc.email_title", { name, email })}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={t("misc.phone_title", { name, phone })}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url }: any) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                href={url}
                title={t("misc.social_title", { name, network })}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover w-32 rounded-full"
      />
    </figure>
  </div>
</Section>
