---
import { basics } from "../../../cv.json";
import Section from "../Section.astro";
import Mail from "../../icons/Mail.astro";
import Phone from "../../icons/Phone.astro";
import GitHub from "../../icons/GitHub.astro";
import X from "../../icons/X.astro";
import WorldMap from "../../icons/WorldMap.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import "../../styles/hero.css";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;
const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="hero-container flex flex-row items-center justify-between gap-4">
    <div class="hero-info flex flex-col gap-2 pr-8">
      <h1 class="hero-name text-3xl">{name}</h1>
      <h2 class="hero-label text-lg font-medium text-balance">{label}</h2>
      <span
        class="hero-location flex items-center gap-1 text-sm tracking-tight"
      >
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="hero-print hidden print:block text-xs mt-2">
        {printInfo}
      </footer>
      <footer class="hero-social flex gap-1 mt-2 text-xs print:hidden">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Send an email to ${name} at ${email}`}
              target="_blank"
              rel="noopener noreferrer"
              class="hero-social-link inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Call ${name} at ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
              class="hero-social-link inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                title={`Visit ${name}'s profile on ${network}`}
                target="_blank"
                rel="noopener noreferrer"
                class="hero-social-link inline-flex items-center justify-center p-1 h-8 w-8 rounded-md"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure class="hero-avatar">
      <img
        src={image}
        alt={name}
        class="hero-image aspect-square object-cover w-32 rounded-full"
      />
    </figure>
  </div>
</Section>
