---
import { projects } from "../../../cv.json";
import Section from "../Section.astro";
import "../../styles/projects.css";
---

<Section title="Projects">
  <div class="projects">
    <ul>
      {
        projects.map(({ name, description, url, highlights, isActive }) => {
          return (
            <li>
              <article>
                <header>
                  <h3>
                    <a
                      href={url}
                      title={`View the project ${name}`}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {name}
                    </a>

                    {isActive && <span>&bull;</span>}
                  </h3>
                  <p>{description}</p>
                </header>

                <footer>
                  {highlights.map((highlight) => {
                    return <span>{highlight}</span>;
                  })}
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
